<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> 
    <link rel="stylesheet"  href="/css/header.css">
    <link rel="stylesheet"  href="/css/index.css">
    <link rel="stylesheet"  href="/css/sidebar.css">
    <link rel="stylesheet"  href="/css/template.css">
    <title>Fantasy</title>
    <script src="/js/index.js"></script>
</head>
<body>
<h1 class="name">Fantasy</h1>    


<nav>
    <a class="nitem" href="/"><i class="fa-solid fa-house"></i></a>
    <div class="line"></div>
    <button class="nitem tech">Tech <i class="fa fa-caret-down"></i></button>
    <div class="line"></div>
    <button class="nitem News">News <i class="fa fa-caret-down"></i></button>
    <div class="line"></div>
    <a class="nitem" href="/cate/Business">Business</a>
</nav>


<div class="dropdown techi">
    <a href="/cate/A.I" class="ela">A.I</a>
    <hr>
    <a href="/cate/PROGRAMMING" class="ela">PROGRAMMING</a>
    <hr>
    <a href="/cate/NEW" class="ela">NEW</a>
</div>
<div class="dropdown newi">
    <a href="/cate/Terrorism" class="ela">Terrorism</a>
    <hr>
    <a href="/cate/Politics" class="ela">Politics</a>
    <hr>
    <a href="/cate/World Affairs" class="ela">World Affairs</a>
</div>